div {
    padding: 15px;
}

img {
    width: 100%;
}

h2 {
    text-transform: uppercase;
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}