<section>
    <div class="container">
        <h2>Formulaire de contact</h2>
        <div>
            <form class="contact">
                <input type="text" placeholder="Votre nom" required> <br>
                <input type="mail" className="mail" placeholder="Votre mail" required> <br>

                <input type="tel" className="tel" placeholder="Votre numéro de téléphone" required> <br>

                <input type="text" className="subject" placeholder="Sujet" required> <br>
                <textarea name="" className="text" cols="30" rows="8" placeholder="Votre message"></textarea> <br>
                <button type="submit" className="submit-button">Envoyer</button> 
            </form>
        </div>
    </div>    
</section>